input.small {
    display: inline-block;
    width: 7em;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
input.medium {
    display: inline-block;
    width: 14em;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

select.form-control {
    display: inline-block;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
}

code {
    color: #333;
    background: rgba(0,0,0,0);
}

.impossible .capped .size,
.impossible .unlimited .speed,
.impossible.processing .rate
{
    border: 3px solid #F00;
}

.stats {
    margin-top: 20px;
    margin-bottom: 20px;
}

.complexity li {
    line-height: 2em;
}

.popup {
    cursor: pointer;
    position: relative;
}
.popup-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
    z-index: 1000;
    width: 200px;
    max-height: 300px;
    overflow-y: auto;
}
.popup:hover .popup-content {
    display: block;
}

.costs .bandwidth .options {
    display: inline-block;
}

/* http://stackoverflow.com/a/22559163 */
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
}
